<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentFTP" version="17.5.6" targetFramework="net45" />
  <package id="ini-parser" version="2.4.0" targetFramework="net45" />
  <package id="NAudio" version="1.8.0" targetFramework="net35" />
  <package id="NAudio.Lame" version="1.0.4" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
</packages>