.header{
  background-color: #2082db;
  background-image: url('/img/bg_header.jpg');
  background-position: 0 0;
  background-repeat: repeat-x;
  border-bottom: #004571 solid 1px;
  height: 120px;  
}
img{
  padding:20px;  
}
.content{
  padding: 20px;
}